#car {
    .car {
        padding-bottom: 220px;

        @media screen and (max-width: 1200px) {
            display: flex;
            flex-direction: column;
        }

        @media screen and (max-width: 860px) {
            padding-bottom: 280px;
        }

        &__text {
            margin: 40px 0;

            font-size: 16px;
            line-height: 24px;

            @media screen and (max-width: 1200px) {
                order: 2;

                margin: 20px 0;
            }

            @media screen and (max-width: 860px) {
                display: none;
            }
        }

        & .cards {
            display: block;
            padding-bottom: 10px;

            @media screen and (max-width: 1200px) {
                order: 1;

                margin-top: 30px;
            }

            .options {
                padding-left: 140px;

                @media screen and (max-width: 1660px) {
                    padding-left: 0;
                }

                @media screen and (max-width: 1200px) {
                    margin-bottom: 20px;
                }

                @media screen and (max-width: 410px) {
                    padding-left: 10px;
                }
            }
        }

        & .conditions {
            @media screen and (max-width: 1200px) {
                order: 2;
            }
        }
    }

    .conditions {
        @media screen and (max-width: 410px) {
            padding: 0 10px;
        }

        &__title {
            display: inline-block;
            margin: 20px 0 15px;

            background: $gradient;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;

            font-size: 19px;
            font-weight: 400;
            line-height: 20px;

            @media screen and (max-width: 860px) {
                font-size: 17px;
            }
        }

        &__list {
            margin-top: 10px;

            list-style-type: none;
            padding-left: 16px;

            @media screen and (max-width: 860px) {
                padding-left: 0;
            }

            &-item {
                position: relative;
                padding-left: 15px;

                line-height: 25px;

                &::before {
                    content: "";
                    position: absolute;
                    top: 10px;
                    left: 0;

                    width: 5px;
                    height: 5px;
                    border-radius: 3px;
                    background-color: #b31841;
                }

                @media screen and (max-width: 860px) {
                    font-size: 14px;

                    &::before {
                        top: 11px;
                    }
                }
            }
        }

        &__text {
            margin-top: 10px;

            @media screen and (max-width: 860px) {
                margin-top: 20px;

                font-size: 14px;
                line-height: 21px;
            }
        }
    }
}
