#customers {
    .customers {
        padding-bottom: 70px;

        @media screen and (max-width: 1200px) {
            padding-top: 70px;
        }

        @media screen and (max-width: 860px) {
            padding-bottom: 100px;
        }

        & .title-block {
            margin-bottom: 45px;

            @media screen and (max-width: 1200px) {
                display: none;
            }
        }

        &__block {
            display: flex;
            flex-wrap: wrap;

            margin-top: 45px;
        }

        &__item {
            max-width: 284px;
            margin-bottom: 40px;

            @media screen and (max-width: 1660px) {
                max-width: 251px;
            }

            @media screen and (max-width: 860px) {
                max-width: 100%;
                margin: 0;
            }

            &:not(:nth-child(4n)) {
                margin-right: 41px;

                @media screen and (max-width: 1660px) {
                    margin-right: 0;
                }
            }

            &:not(:nth-child(3n)) {
                @media screen and (max-width: 1660px) {
                    margin-right: 36px;
                }

                @media screen and (max-width: 860px) {
                    margin-right: 0;
                }
            }
        }

        &__image {
            margin-bottom: 10px;

            img {
                width: 100%;
            }
        }

        &__name {
            font-size: 18px;
            text-align: center;
        }

        &__text {
            @media screen and (max-width: 860px) {
                padding: 0 10px;
            }
        }
    }

    .partners {
        padding-bottom: 70px;

        @media screen and (max-width: 1200px) {
            padding-bottom: 100px;
        }

        &__image {
            @media screen and (max-width: 860px) {
                display: none;
            }
        }

        img {
            width: 100%;
        }
    }

    .letters {
        padding-bottom: 50px;

        @media screen and (max-width: 1200px) {
            padding-bottom: 250px;
        }

        @media screen and (max-width: 860px) {
            padding-bottom: 350px;
        }

        @media screen and (max-width: 460px) {
            padding: 0 10px 350px;
        }

        img {
            width: 100%;
        }

        .slider {
            max-width: 1110px;
            margin: 60px 0 0 75px;

            @media screen and (max-width: 1660px) {
                max-width: 760px;
                margin: 40px auto 0;
            }

            @media screen and (max-width: 860px) {
                margin-top: 30px;
            }

            .owl-prev {
                left: -60px;

                @media screen and (max-width: 1660px) {
                    left: -40px;
                }
            }

            .owl-next {
                right: -60px;

                @media screen and (max-width: 1660px) {
                    right: -40px;
                }
            }
        }
    }
}
