@@include('./../tpl/header.html', { 'headerClass': '', 'bodyId': 'company', 'activeCompany':
'active', 'activeServices': '', 'activeChildren': '', 'activePayment': '', 'activeContacts': '', })

<main class="content">
  <div class="messengers">
    <a href="/" class="icon--viber messengers__viber">
      <span class="path1"></span><span class="path2"></span><span class="path3"></span
      ><span class="path4"></span><span class="path5"></span><span class="path6"></span>
    </a>

    <a href="/" class="icon--whatsapp messengers__whatsapp">
      <span class="path1"></span><span class="path2"></span><span class="path3"></span
      ><span class="path4"></span><span class="path5"></span><span class="path6"></span>
    </a>
  </div>

  <div class="container container--flex">
    <aside class="aside">
      <div class="aside__list">
        <div class="aside__container">
          <a href="/pages/company.html" class="aside__item active">О компании</a>
          <a href="/pages/customers.html" class="aside__item">Наши клиенты</a>
          <a href="/pages/reviews.html" class="aside__item">отзывы</a>
          <a href="/pages/news.html" class="aside__item">новости</a>
          <a href="/pages/faq.html" class="aside__item">вопросы и ответы</a>
          <a href="/" class="aside__item">Транспортное обеспечение массовых мероприятий</a>
        </div>
      </div>

      @@include('./../tpl/aside/transport--links.html')
    </aside>

    <div class="content__main">
      <section class="company">
        @@include('./../tpl/title-block.html', { title: 'О компании' })

        <video
          src="/media/company.mp4"
          poster="/images/index/welcome.png"
          class="company__video"
          autoplay
          muted
          loop
        ></video>

        <div class="company__quote">
          <p>Собраться вместе – это начало,</p>
          <p>Оставаться вместе – это прогресс,</p>
          <p>Работать вместе – это успех!</p>
        </div>

        <p class="company__text">
          Транспортная компания «Абсолют» начала свою работу в апреле 2000 года.
          <br />
          Почти
          <span>за 20 лет работы компания значительно выросла во всех отношениях.</span>
          Если начинали мы только с микроавтобусов, то сейчас в нашем парке есть и автобусы, и
          микроавтобусы, и автомобили от «эконом» до VIP-уровня. Наш парк постоянно обновляется. За
          год автопарк компании пополнился тремя автобусами Zhong Tong, автомобилем Мерседес Е-212
          (рестайлинг), автомобилем Мерседес S-222 (эксклюзив).
        </p>

        <p class="company__text">
          За прошедшие годы был значительно <span>увеличен водительский состав.</span> Мы имеем
          возможность проводить строгий отбор водителей благодаря наличию множества претендентов на
          работу в нашей компании. Такая популярность среди соискателей обусловлена нашим главным
          принципом – мы с большим уважением относимся к труду водителя. Именно поэтому
          <span>с нами работают лучшие из лучших.</span>
        </p>

        <div class="slider owl-carousel">
          <img src="/images/staff-transportation/slider-1.png" alt="slider-1" />
          <img src="/images/staff-transportation/slider-2.png" alt="slider-2" />
          <img src="/images/staff-transportation/slider-3.png" alt="slider-3" />
          <img src="/images/staff-transportation/slider-4.png" alt="slider-4" />

          <img src="/images/staff-transportation/slider-1.png" alt="slider-1" />
          <img src="/images/staff-transportation/slider-2.png" alt="slider-2" />
          <img src="/images/staff-transportation/slider-3.png" alt="slider-3" />
          <img src="/images/staff-transportation/slider-4.png" alt="slider-4" />
        </div>

        <p class="company__text">
          Растет и развивается наша диспетчерская служба. У нас работает настоящая команда
          профессионалов, людей, которые очень четко понимают, что от их решений и оперативности
          зависит очень многое. В компании «Абсолют» работают такие специалисты, которые смогут
          реализовать транспортные проекты любой сложности. Доказательство тому – успешно
          проведенные крупные мероприятия городского и международного значения.
        </p>

        <p class="company__text">
          С 2010 года компания «Абсолют» обслуживает гостей во время
          <span>проведения самых крупных мероприятий в Санкт-Петербурге:</span>
        </p>

        <ul class="company__list">
          <li class="company__list-item">36 сессия Комитета всемирного наследия ЮНЕСКО.</li>
          <li class="company__list-item">Международная конвенция «Спорт-Аккорд 2013».</li>
          <li class="company__list-item">
            G8 – Саммит «Большой восьмерки» в Санкт-Петербурге.
          </li>
          <li class="company__list-item">Ежегодные экономические и юридические форумы.</li>
          <li class="company__list-item">Военно-морской салон.</li>
          <li class="company__list-item">Международные банковские конгрессы.</li>
          <li class="company__list-item">Международный авиационный комитет.</li>
          <li class="company__list-item">Ассамблея Евроазиатского транспортного союза.</li>
          <li class="company__list-item">Газовый Форум – 2015.</li>
          <li class="company__list-item">
            Открытие Конгрессно- выставочного центра «Экспофорум».
          </li>
        </ul>

        <p class="company__text">
          За это время
          <span
            >много компаний-организаторов мероприятий международного значения стали нашими
            постоянными клиентами.</span
          >
          Услугами компании «Абсолют» постоянно пользуются консульства и посольства.
        </p>

        <div class="team">
          <div class="content__title-block">
            <h3 class="content__title--block">наша <span>команда</span></h3>
            <div class="content__title-decor"></div>
          </div>

          <p class="team__text">
            Мы работаем в команде сильных руководителей и т.д, необходим текст о людях, небольшой. О
            том, что все дружно и здорово работают и держат наивысший уровень работоспособности.
          </p>

          <div class="team__block owl-carousel">
            <div class="team__item">
              <img src="/images/company/team-1.png" class="team__image" alt="team-1" />

              <p class="team__name">Лашкова Татьяна Николаевна</p>
              <p class="team__position">Генеральный директор</p>
            </div>
            <div class="team__item">
              <img src="/images/company/team-2.png" class="team__image" alt="team-2" />

              <p class="team__name">Лашков Дмитрий Александрович</p>
              <p class="team__position">Генеральный директор</p>
            </div>
            <div class="team__item">
              <img src="/images/company/team-3.png" class="team__image" alt="team-3" />

              <p class="team__name">Татьяна Кошевицкая</p>
              <p class="team__position">Менеджер</p>
            </div>
            <div class="team__item">
              <img src="/images/company/team-4.png" class="team__image" alt="team-4" />

              <p class="team__name">Виктор Карчевский</p>
              <p class="team__position">Менеджер</p>
            </div>
            <div class="team__item">
              <img src="/images/company/team-5.png" class="team__image" alt="team-5" />

              <p class="team__name">Яна Богуславская</p>
              <p class="team__position">Менеджер</p>
            </div>
            <div class="team__item">
              <img src="/images/company/team-6.png" class="team__image" alt="team-6" />

              <p class="team__name">Екатерина Волкова</p>
              <p class="team__position">Менеджер</p>
            </div>
          </div>
        </div>

        <div class="content__title-block">
          <h3 class="content__title--block">наши <span>лицензии</span></h3>
          <div class="content__title-decor"></div>
        </div>

        <div class="licenses">
          <div class="licenses__block">
            <div class="licenses__image">
              <a data-fancybox="gallery" href="/images/company/licenses-1.png">
                <img src="/images/company/licenses-1.png" alt="licenses-1" />
              </a>
            </div>

            <div class="licenses__image">
              <a data-fancybox="gallery" href="/images/company/licenses-2.png">
                <img src="/images/company/licenses-2.png" alt="licenses-2" />
              </a>
            </div>
          </div>

          <a href="/" class="licenses__link">
            <span class="icon icon--clip"></span>
            <span class="licenses__text">Свидетельство ИП Лашкова Т. Н.</span>
          </a>
        </div>
      </section>
    </div>
  </div>

  <a class="content__scroll-top"></a>
</main>

@@include('./../tpl/modal.html') @@include('./../tpl/footer.html')
