@@include('tpl/header.html', { 'headerClass': '', 'bodyId': 'index', 'activeCompany': '',
'activeServices': '', 'activeChildren': '', 'activePayment': '', 'activeContacts': '', })

<main class="content">
  <div class="messengers">
    <a href="/" class="icon--viber messengers__viber">
      <span class="path1"></span><span class="path2"></span><span class="path3"></span
      ><span class="path4"></span><span class="path5"></span><span class="path6"></span>
    </a>

    <a href="/" class="icon--whatsapp messengers__whatsapp">
      <span class="path1"></span><span class="path2"></span><span class="path3"></span
      ><span class="path4"></span><span class="path5"></span><span class="path6"></span>
    </a>
  </div>

  <div class="container container--flex">
    <aside class="aside">
      @@include('tpl/aside/transport.html')
    </aside>

    <div class="content__main">
      <div class="cards" data-category="car">
        <div class="options">
          <div class="options__tabs">
            <p data-class="business" class="options__tab">Бизнес <span>класс</span></p>
            <p data-class="executive" class="options__tab">Представительский <span>класс</span></p>
            <p data-class="economy" class="options__tab">Эконом класс</p>
          </div>

          <div class="options__select-wrapper options__select--brand">
            <select class="options__select" data-select="brand">
              <option hidden selected value="default">Авто по марке</option>
              <option value="Mercedes">Mercedes</option>
              <option value="BMW">BMW</option>
              <option value="Porche">Porche</option>
            </select>
          </div>

          <div class="options__select-wrapper options__select-wrapper--sort">
            <select class="options__select" data-select="sort">
              <option hidden selected value="default">Сортировать по</option>
              <option value="price" data-option="asc">по возрастанию цены</option>
              <option value="price" data-option="desc">по убыванию цены</option>
              <option value="year" data-option="desc">по году: новее</option>
              <option value="year" data-option="asc">по году: старше</option>
            </select>
          </div>

          <div class="options__filters">
            <div class="options__filters-container">
              <div class="options__filter" data-select="sort" data-value="price" data-option="desc">
                дороже
              </div>
              <div class="options__filter" data-select="sort" data-value="price" data-option="asc">
                дешевле
              </div>
              <div class="options__filter" data-select="sort" data-value="year" data-option="desc">
                новее
              </div>
              <div class="options__filter" data-select="sort" data-value="year" data-option="asc">
                старее
              </div>
              <div data-select="brand" data-value="Mercedes" class="options__filter">Mercedes</div>
              <div data-select="brand" data-value="BMW" class="options__filter">BMW</div>
              <div data-select="brand" data-value="Porche" class="options__filter">Porche</div>
            </div>
          </div>
        </div>

        <div class="cards__block">
          <div
            class="card"
            data-brand="BMW"
            data-price="1000"
            data-year="1967"
            data-class="economy"
          >
            <div class="card__image">
              <span class="card__voice"></span>

              <a href="/pages/car-details.html">
                <img src="/images/index/car-2.png" alt="card-2" />
              </a>
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">2000<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Porsche Panamera</p>

              <div class="card__footer">
                <p class="card__year card__year--car">2012г.</p>
                <p class="card__seats">белая кожа</p>
                <p class="card__additional card__additional--door">
                  белый и черный
                </p>
              </div>
            </div>
          </div>
          <div class="card" data-price="2000" data-year="2000" data-class="business" data-brand="Porche">
            <div class="card__image">
              <span class="card__voice"></span>

              <a href="/pages/car-details.html">
                <img src="/images/index/car-2.png" alt="card-2" />
              </a>
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">2000<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Porsche Panamera</p>

              <div class="card__footer">
                <p class="card__year card__year--car">2012г.</p>
                <p class="card__seats">белая кожа</p>
                <p class="card__additional card__additional--door">
                  белый и черный
                </p>
              </div>
            </div>
          </div>
          <div class="card" data-brand="Mercedes" data-price="500" data-year="2010">
            <div class="card__image">
              <span class="card__voice"></span>

              <a href="/pages/car-details.html">
                <img src="/images/index/car-2.png" alt="card-2" />
              </a>
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">2000<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Porsche Panamera</p>

              <div class="card__footer">
                <p class="card__year card__year--car">2012г.</p>
                <p class="card__seats">белая кожа</p>
                <p class="card__additional card__additional--door">
                  белый и черный
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cards" data-category="bus">
        <div class="options">
          <div class="options__tabs">
            <p class="options__tab active">Бизнес <span>класс</span></p>
            <p class="options__tab">Эконом класс</p>
          </div>

          <div class="options__select-wrapper options__select-wrapper--seats">
            <select data-select="seats" class="options__select">
              <option hidden selected>По кол-ву мест</option>
              <option value="30 мест">30 мест</option>
              <option value="">40 мест</option>
              <option value="">50 мест</option>
            </select>
          </div>

          <div class="options__select-wrapper options__select-wrapper--sort">
            <select class="options__select">
              <option hidden selected>Сортировать по</option>
              <option value="money-bigger">по возрастанию цены</option>
              <option value="money-lower">по убыванию цены</option>
              <option value="year-newer">по году: новее</option>
              <option value="year-older">по году: старше</option>
            </select>
          </div>

          <div class="options__filters">
            <div class="options__filters-container">
              <div class="options__filter active">дороже</div>
              <div class="options__filter">дешевле</div>
              <div class="options__filter">новее</div>
              <div class="options__filter">старее</div>
              <div class="options__filter">Mercedes</div>
              <div class="options__filter">BMW</div>
              <div class="options__filter">Porche</div>
            </div>
          </div>
        </div>

        <div class="cards__block">
          <div class="card" data-seats="30 мест">
            <div class="card__image">
              <span class="card__voice"></span>

              <a href="/pages/car-details.html">
                <img src="/images/index/car-2.png" alt="card-2" />
              </a>
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">2000<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Porsche Panamera</p>

              <div class="card__footer">
                <p class="card__year card__year--car">2012г.</p>
                <p class="card__seats">белая кожа</p>
                <p class="card__additional card__additional--door">
                  белый и черный
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card__image">
              <span class="card__voice"></span>

              <a href="/pages/car-details.html">
                <img src="/images/index/car-2.png" alt="card-2" />
              </a>
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">2000<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Porsche Panamera</p>

              <div class="card__footer">
                <p class="card__year card__year--car">2012г.</p>
                <p class="card__seats">белая кожа</p>
                <p class="card__additional card__additional--door">
                  белый и черный
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card__image">
              <span class="card__voice"></span>

              <a href="/pages/car-details.html">
                <img src="/images/index/car-2.png" alt="card-2" />
              </a>
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">2000<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Porsche Panamera</p>

              <div class="card__footer">
                <p class="card__year card__year--car">2012г.</p>
                <p class="card__seats">белая кожа</p>
                <p class="card__additional card__additional--door">
                  белый и черный
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card__image">
              <span class="card__voice"></span>

              <a href="/pages/car-details.html">
                <img src="/images/index/car-2.png" alt="card-2" />
              </a>
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">2000<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Porsche Panamera</p>

              <div class="card__footer">
                <p class="card__year card__year--car">2012г.</p>
                <p class="card__seats">белая кожа</p>
                <p class="card__additional card__additional--door">
                  белый и черный
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card__image">
              <span class="card__voice"></span>

              <a href="/pages/car-details.html">
                <img src="/images/index/car-2.png" alt="card-2" />
              </a>
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">2000<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Porsche Panamera</p>

              <div class="card__footer">
                <p class="card__year card__year--car">2012г.</p>
                <p class="card__seats">белая кожа</p>
                <p class="card__additional card__additional--door">
                  белый и черный
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card__image">
              <span class="card__voice"></span>

              <a href="/pages/car-details.html">
                <img src="/images/index/car-2.png" alt="card-2" />
              </a>
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">2000<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Porsche Panamera</p>

              <div class="card__footer">
                <p class="card__year card__year--car">2012г.</p>
                <p class="card__seats">белая кожа</p>
                <p class="card__additional card__additional--door">
                  белый и черный
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cards" data-category="minibus">
        <div class="options">
          <div class="options__tabs">
            <p class="options__tab active">Бизнес <span>класс</span></p>
            <p class="options__tab">Представительский <span>класс</span></p>
            <p class="options__tab">Эконом класс</p>
          </div>

          <div class="options__select-wrapper options__select-wrapper--brand">
            <select class="options__select">
              <option value="">Mercedes</option>
              <option value="">BMW</option>
              <option value="">Porche</option>
            </select>
          </div>

          <div class="options__select-wrapper options__select-wrapper--sort">
            <select class="options__select">
              <option value="money-bigger">по возрастанию цены</option>
              <option value="money-lower">по убыванию цены</option>
              <option value="year-newer">по году: новее</option>
              <option value="year-older">по году: старше</option>
            </select>
          </div>

          <div class="options__filters">
            <div class="options__filters-container">
              <div class="options__filter active">дороже</div>
              <div class="options__filter">дешевле</div>
              <div class="options__filter">новее</div>
              <div class="options__filter">старее</div>
              <div class="options__filter">Mercedes</div>
              <div class="options__filter">BMW</div>
              <div class="options__filter">Porche</div>
            </div>
          </div>
        </div>

        <div class="cards__block">
          <div class="card">
            <div class="card__image">
              <span class="card__voice"></span>

              <a href="/pages/car-details.html">
                <img src="/images/index/car-2.png" alt="card-2" />
              </a>
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">2000<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Porsche Panamera</p>

              <div class="card__footer">
                <p class="card__year card__year--car">2012г.</p>
                <p class="card__seats">белая кожа</p>
                <p class="card__additional card__additional--door">
                  белый и черный
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card__image">
              <span class="card__voice"></span>

              <a href="/pages/car-details.html">
                <img src="/images/index/car-2.png" alt="card-2" />
              </a>
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">2000<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Porsche Panamera</p>

              <div class="card__footer">
                <p class="card__year card__year--car">2012г.</p>
                <p class="card__seats">белая кожа</p>
                <p class="card__additional card__additional--door">
                  белый и черный
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card__image">
              <span class="card__voice"></span>

              <a href="/pages/car-details.html">
                <img src="/images/index/car-2.png" alt="card-2" />
              </a>
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">2000<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Porsche Panamera</p>

              <div class="card__footer">
                <p class="card__year card__year--car">2012г.</p>
                <p class="card__seats">белая кожа</p>
                <p class="card__additional card__additional--door">
                  белый и черный
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cards" data-category="minivan">
        <div class="options">
          <div class="options__tabs">
            <p class="options__tab active">Бизнес <span>класс</span></p>
            <p class="options__tab">Представительский <span>класс</span></p>
            <p class="options__tab">Эконом класс</p>
          </div>

          <div class="options__select-wrapper options__select-wrapper--brand">
            <select class="options__select">
              <option value="">Mercedes</option>
              <option value="">BMW</option>
              <option value="">Porche</option>
            </select>
          </div>

          <div class="options__select-wrapper options__select-wrapper--sort">
            <select class="options__select">
              <option value="money-bigger">по возрастанию цены</option>
              <option value="money-lower">по убыванию цены</option>
              <option value="year-newer">по году: новее</option>
              <option value="year-older">по году: старше</option>
            </select>
          </div>

          <div class="options__filters">
            <div class="options__filters-container">
              <div class="options__filter active">дороже</div>
              <div class="options__filter">дешевле</div>
              <div class="options__filter">новее</div>
              <div class="options__filter">старее</div>
              <div class="options__filter">Mercedes</div>
              <div class="options__filter">BMW</div>
              <div class="options__filter">Porche</div>
            </div>
          </div>
        </div>

        <div class="cards__block">
          <div class="card">
            <div class="card__image">
              <span class="card__voice"></span>

              <a href="/pages/car-details.html">
                <img src="/images/index/car-2.png" alt="card-2" />
              </a>
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">2000<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Porsche Panamera</p>

              <div class="card__footer">
                <p class="card__year card__year--car">2012г.</p>
                <p class="card__seats">белая кожа</p>
                <p class="card__additional card__additional--door">
                  белый и черный
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card__image">
              <span class="card__voice"></span>

              <a href="/pages/car-details.html">
                <img src="/images/index/car-2.png" alt="card-2" />
              </a>
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">2000<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Porsche Panamera</p>

              <div class="card__footer">
                <p class="card__year card__year--car">2012г.</p>
                <p class="card__seats">белая кожа</p>
                <p class="card__additional card__additional--door">
                  белый и черный
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card__image">
              <span class="card__voice"></span>

              <a href="/pages/car-details.html">
                <img src="/images/index/car-2.png" alt="card-2" />
              </a>
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">2000<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Porsche Panamera</p>

              <div class="card__footer">
                <p class="card__year card__year--car">2012г.</p>
                <p class="card__seats">белая кожа</p>
                <p class="card__additional card__additional--door">
                  белый и черный
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h1 class="content__title">Аренда транспорта с водителем</h1>

      <div class="content__text">
        <p>Здесь общий текст об аренде транспорта с водителем</p>
        <p>
          Предлагаем аренду автомобилей с водителем в Санкт-Петербурге от 600 руб./час. Имеем свой
          автопарк из 31 машины марок Шкода, Тойота, Мерседес, Ауди, Ягуар и др.
        </p>
      </div>

      <div class="content__title-block">
        <h3 class="content__title--block">наши <span>услуги</span></h3>
        <div class="content__title-decor"></div>
      </div>

      <section class="services">
        <div class="slider owl-carousel">
          <div class="slider__slide">
            <div class="services__image">
              <img src="/images/index/services-1.png" alt="card-2" />

              <div class="services__image--hover">
                <p class="services__title">
                  Школьные автобусы
                </p>

                <button class="services__details">подробнее</button>
              </div>
            </div>

            <p class="services__text">Трансфер в аэропорт</p>
          </div>

          <div class="slider__slide">
            <div class="services__image">
              <img src="/images/index/services-2.png" alt="card-2" />

              <div class="services__image--hover">
                <p class="services__title">
                  Школьные автобусы
                </p>

                <button class="services__details">подробнее</button>
              </div>
            </div>

            <p class="services__text">Трансфер в аэропорт</p>
          </div>

          <div class="slider__slide">
            <div class="services__image">
              <img src="/images/index/services-3.png" alt="card-2" />

              <div class="services__image--hover">
                <p class="services__title">
                  Школьные автобусы
                </p>

                <button class="services__details">подробнее</button>
              </div>
            </div>

            <p class="services__text">Трансфер в аэропорт</p>
          </div>

          <div class="slider__slide">
            <div class="services__image">
              <img src="/images/index/services-4.png" alt="services" />

              <div class="services__image--hover">
                <p class="services__title">
                  Школьные автобусы
                </p>

                <button class="services__details">подробнее</button>
              </div>
            </div>

            <p class="services__text">Трансфер в аэропорт</p>
          </div>
          <div class="slider__slide">
            <div class="services__image">
              <img src="/images/index/services-1.png" alt="services" />

              <div class="services__image--hover">
                <p class="services__title">
                  Школьные автобусы
                </p>

                <button class="services__details">подробнее</button>
              </div>
            </div>

            <p class="services__text">Трансфер в аэропорт</p>
          </div>

          <div class="slider__slide">
            <div class="services__image">
              <img src="/images/index/services-2.png" alt="services-2" />

              <div class="services__image--hover">
                <p class="services__title">
                  Школьные автобусы
                </p>

                <button class="services__details">подробнее</button>
              </div>
            </div>

            <p class="services__text">Трансфер в аэропорт</p>
          </div>

          <div class="slider__slide">
            <div class="services__image">
              <img src="/images/index/services-3.png" alt="services-3" />

              <div class="services__image--hover">
                <p class="services__title">
                  Школьные автобусы
                </p>

                <button class="services__details">подробнее</button>
              </div>
            </div>

            <p class="services__text">Трансфер в аэропорт</p>
          </div>

          <div class="slider__slide">
            <div class="services__image">
              <img src="/images/index/services-4.png" alt="services-4" />

              <div class="services__image--hover">
                <p class="services__title">
                  Школьные автобусы
                </p>

                <button class="services__details">подробнее</button>
              </div>
            </div>

            <p class="services__text">Трансфер в аэропорт</p>
          </div>
        </div>
      </section>

      <div class="content__title-block">
        <h3 class="content__title--block">популярный <span>Транспорт</span></h3>
        <div class="content__title-decor"></div>
      </div>

      <section class="popular">
        <div class="slider owl-carousel">
          <div class="slider__slide">
            <div class="card__image">
              <span class="card__voice card__icon--voice"></span>

              <a href="/pages/car-details.html">
                <img src="/images/index/car-1.png" alt="card-1" />
              </a>
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">1200<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Jaguar XJ</p>

              <div class="card__footer">
                <p class="card__year card__year--car">2012г.</p>
                <p class="card__seats">белая кожа</p>
                <p class="card__additional card__additional--door">
                  белый и черный
                </p>
              </div>
            </div>
          </div>
          <div class="slider__slide">
            <div class="card__image">
              <span class="card__voice"></span>

              <a href="/pages/car-details.html">
                <img src="/images/index/car-2.png" alt="card-2" />
              </a>
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">2000<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Porsche Panamera</p>

              <div class="card__footer">
                <p class="card__year card__year--car">2012г.</p>
                <p class="card__seats">белая кожа</p>
                <p class="card__additional card__additional--door">
                  белый и черный
                </p>
              </div>
            </div>
          </div>
          <div class="slider__slide">
            <div class="card__image">
              <span class="card__voice card__icon--voice"></span>

              <a href="/pages/bus-details.html">
                <img src="/images/index/car-3.png" alt="card-3" />
              </a>
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">1900<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Man Regio 205</p>

              <div class="card__footer">
                <p class="card__year card__year--bus">2015г.</p>
                <p class="card__seats">59+1 мест</p>
                <p class="card__additional card__additional--buses">
                  15 автобусов
                </p>
              </div>
            </div>
          </div>
          <div class="slider__slide">
            <div class="card__image">
              <span class="card__voice"></span>

              <a href="/pages/bus-details.html">
                <img src="/images/index/car-1.png" alt="card-1" />
              </a>
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">1200<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Jaguar XJ</p>

              <div class="card__footer">
                <p class="card__year card__year--bus">2015г.</p>
                <p class="card__seats">59+1 мест</p>
                <p class="card__additional card__additional--buses">
                  15 автобусов
                </p>
              </div>
            </div>
          </div>
          <div class="slider__slide">
            <div class="card__image">
              <span class="card__voice"></span>

              <a href="/pages/bus-details.html">
                <img src="/images/index/car-2.png" alt="card-2" />
              </a>
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">2000<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Porsche Panamera</p>

              <div class="card__footer">
                <p class="card__year card__year--car">2012г.</p>
                <p class="card__seats">белая кожа</p>
                <p class="card__additional card__additional--door">
                  белый и черный
                </p>
              </div>
            </div>
          </div>
          <div class="slider__slide">
            <div class="card__image">
              <span class="card__voice card__icon--voice"></span>

              <a href="/pages/bus-details.html">
                <img src="/images/index/car-3.png" alt="card-3" />
              </a>
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">1900<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Man Regio 205</p>

              <div class="card__footer">
                <p class="card__year card__year--bus">2015г.</p>
                <p class="card__seats">59+1 мест</p>
                <p class="card__additional card__additional--buses">
                  15 автобусов
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <section class="best">
    <div class="container">
      <h3 class="best__title best__title--main">мы лучшие в своем деле!</h3>

      <p class="best__text best__text--top">
        Мы привыкли предвосхищать ожидания наших клиентов.
      </p>
      <p class="best__text best__text--top">
        Позвоните прямо сейчас и дешево забронируйте машину на нужную дату!
      </p>

      <div class="best__block best__block--numbers">
        <div class="best__numbers">
          <h4 class="best__title best__title--numbers">7246 тыс</h4>
          <p class="best__text best__text--numbers">довольных клиентов</p>
        </div>

        <div class="best__numbers">
          <h4 class="best__title best__title--numbers">20 лет</h4>
          <p class="best__text best__text--numbers">успешной работы</p>
        </div>

        <div class="best__numbers">
          <h4 class="best__title best__title--numbers">152 ед</h4>
          <p class="best__text best__text--numbers">собственный автопарк</p>
        </div>

        <div class="best__numbers">
          <h4 class="best__title best__title--numbers">5 лет</h4>
          <p class="best__text best__text--numbers">мин. стаж водителей</p>
        </div>
      </div>

      <div class="best__block best__block--adv">
        <div class="best__adv">
          <span class="best__icon best__icon--hours"></span>
          <p class="best__text best__text--adv">
            круглосуточная диспетчерская поддержка
          </p>
        </div>

        <div class="best__adv">
          <span class="best__icon best__icon--to"></span>
          <p class="best__text best__text--adv">
            своя ремзона. ТО перед каждым выездом
          </p>
        </div>

        <div class="best__adv">
          <span class="best__icon best__icon--children"></span>
          <p class="best__text best__text--adv">
            есть разрешения на перевозку детей
          </p>
        </div>

        <div class="best__adv">
          <span class="best__icon best__icon--insurance"></span>
          <p class="best__text best__text--adv">
            обязательно страхование пассажиров
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="content__main content__main--no-aside">
      <section class="reviews">
        <div class="content__title-block">
          <div class="content__title--link">
            <h3 class="content__title--block">отзывы <span>клиентов</span></h3>
            <a href="/pages/reviews.html" class="content__link--title">все отзывы</a>
          </div>
          <div class="content__title-decor content__title-decor--big"></div>
        </div>

        <div class="slider owl-carousel">
          <div class="slider__slide">
            <div class="reviews__header">
              <img src="/images/index/reviews-1.png" alt="reviews-1" class="reviews__image" />

              <div class="reviews__header reviews__header--right">
                <p class="reviews__date">25 ноя. 2019</p>
                <span class="reviews__quote"></span>
              </div>
            </div>

            <p class="reviews__name">Юлия Белова / <span>представитель РК</span></p>

            <div class="reviews__text">
              Ученики 1 Б класса гимназии им Сервантеса и их родители, выражают вашей компании
              «Абсолют» благодарность за слаженную работу и профессионализм сотрудников. Особенно
              хотим отметить работу менеджера Ильи и водителя Войтковского Станислава. Спасибо им
              большое за внимательность, терпение и ответственность.
            </div>
          </div>
          <div class="slider__slide">
            <div class="reviews__header">
              <img src="/images/index/reviews-2.png" alt="reviews-2" class="reviews__image" />

              <div class="reviews__header reviews__header--right">
                <p class="reviews__date">24 ноя. 2019</p>
                <span class="reviews__quote"></span>
              </div>
            </div>

            <p class="reviews__name">Андреева Элеонора</p>

            <div class="reviews__text">
              Сегодня с группой я ездила на экскурсию. С 11:30-15:30, с Богатырского, 50 в
              Кунсткамеру. Был водитель Станислав и Ваш автобус. Прекрасный, вежливый водитель,
              автобус тоже отличный!! Очень благодарны все за поездку, спасибо Вам и Станиславу.
            </div>
          </div>
          <div class="slider__slide">
            <div class="reviews__header">
              <img src="/images/index/reviews-3.png" alt="reviews-3" class="reviews__image" />

              <div class="reviews__header reviews__header--right">
                <p class="reviews__date">23 ноя. 2019</p>
                <span class="reviews__quote"></span>
              </div>
            </div>

            <p class="reviews__name">
              Надежда /
              <span>
                экскурсовод туристической компании «Акватория»
              </span>
            </p>

            <div class="reviews__text">
              Группа школьников из Волгограда благодарит компанию АБСОЛЮТ за отличное транспортное
              обслуживание.22 ноября нам был предоставлен комфортабельный автобус № 133. Водитель
              Дмитрий Валентинович сумел в сложной транспортной пробочной пятничной обстановке
              выбрать оптимальный маршрут движения...
            </div>
          </div>
          <div class="slider__slide">
            <div class="reviews__header">
              <img src="/images/index/reviews-1.png" alt="reviews-1" class="reviews__image" />

              <div class="reviews__header reviews__header--right">
                <p class="reviews__date">25 ноя. 2019</p>
                <span class="reviews__quote"></span>
              </div>
            </div>

            <p class="reviews__name">Юлия Белова / <span>представитель РК</span></p>

            <div class="reviews__text">
              Ученики 1 Б класса гимназии им Сервантеса и их родители, выражают вашей компании
              «Абсолют» благодарность за слаженную работу и профессионализм сотрудников. Особенно
              хотим отметить работу менеджера Ильи и водителя Войтковского Станислава. Спасибо им
              большое за внимательность, терпение и ответственность.
            </div>
          </div>
          <div class="slider__slide">
            <div class="reviews__header">
              <img src="/images/index/reviews-2.png" alt="reviews-2" class="reviews__image" />

              <div class="reviews__header reviews__header--right">
                <p class="reviews__date">24 ноя. 2019</p>
                <span class="reviews__quote"></span>
              </div>
            </div>

            <p class="reviews__name">Андреева Элеонора</p>

            <div class="reviews__text">
              Сегодня с группой я ездила на экскурсию. С 11:30-15:30, с Богатырского, 50 в
              Кунсткамеру. Был водитель Станислав и Ваш автобус. Прекрасный, вежливый водитель,
              автобус тоже отличный!! Очень благодарны все за поездку, спасибо Вам и Станиславу.
            </div>
          </div>
          <div class="slider__slide">
            <div class="reviews__header">
              <img src="/images/index/reviews-3.png" alt="reviews-3" class="reviews__image" />

              <div class="reviews__header reviews__header--right">
                <p class="reviews__date">23 ноя. 2019</p>
                <span class="reviews__quote"></span>
              </div>
            </div>

            <p class="reviews__name">
              Надежда /
              <span>
                экскурсовод туристической компании «Акватория»
              </span>
            </p>

            <div class="reviews__text">
              Группа школьников из Волгограда благодарит компанию АБСОЛЮТ за отличное транспортное
              обслуживание.22 ноября нам был предоставлен комфортабельный автобус № 133. Водитель
              Дмитрий Валентинович сумел в сложной транспортной пробочной пятничной обстановке
              выбрать оптимальный маршрут движения...
            </div>
          </div>
        </div>
      </section>

      <section class="news">
        <div class="content__title-block">
          <div class="content__title--link">
            <h3 class="content__title--block">наши <span>новости</span></h3>
            <a href="/pages/news.html" class="content__link--title">все новости</a>
          </div>
          <div class="content__title-decor"></div>
        </div>

        <div class="news__block">
          <div class="news__item">
            <div class="news__image">
              <div class="news__date-block">
                <p class="news__date">ноя</p>
                <p class="news__date news__date--big">23</p>
              </div>

              <img src="/images/index/news-1.png" alt="news-1" />
            </div>

            <div class="news__info">
              <h4 class="news__title">Международный экономический форум</h4>

              <p class="news__text">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.
              </p>
              <p class="news__text">
                eirmod tempor invidunt labore et dolore magna.
                <span class="news__text news__text--hide-1660">
                  aliquyam erat, sed diam voluptua....
                </span>
              </p>
            </div>
          </div>

          <div class="news__item">
            <div class="news__image">
              <div class="news__date-block">
                <p class="news__date">мар</p>
                <p class="news__date news__date--big">17</p>
              </div>

              <img src="/images/index/news-2.png" alt="news-2" />
            </div>

            <div class="news__info">
              <h4 class="news__title">Итоги 2019 года</h4>

              <p class="news__text">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.
              </p>
              <p class="news__text">
                eirmod tempor invidunt labore et dolore magna.

                <span class="news__text news__text--hide-1660">
                  aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                  ea rebum.
                </span>
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <section class="partners">
    <div class="container container--flex">
      <img src="/images/index/partners-1.png" alt="partners" />
      <img src="/images/index/partners-2.png" alt="partners" />
      <img src="/images/index/partners-3.png" alt="partners" class="partners__image--hide-1660" />
      <img src="/images/index/partners-4.png" alt="partners" />
      <img src="/images/index/partners-5.png" alt="partners" />
      <img src="/images/index/partners-6.png" alt="partners" />
    </div>

    <a href="/" class="partners__link">Все клиенты</a>
  </section>

  <a class="content__scroll-top"></a>
</main>

@@include('tpl/modal.html') @@include('tpl/footer.html')
