@@include('./../tpl/header.html', { 'headerClass': '', 'bodyId': 'payment', 'activeCompany': '',
'activeServices': '', 'activeChildren': '', 'activePayment': 'active', 'activeContacts': '', })

<main class="content">
  <div class="messengers">
    <a href="/" class="icon--viber messengers__viber">
      <span class="path1"></span><span class="path2"></span><span class="path3"></span
      ><span class="path4"></span><span class="path5"></span><span class="path6"></span>
    </a>

    <a href="/" class="icon--whatsapp messengers__whatsapp">
      <span class="path1"></span><span class="path2"></span><span class="path3"></span
      ><span class="path4"></span><span class="path5"></span><span class="path6"></span>
    </a>
  </div>

  <div class="container container--flex">
    <aside class="aside">
      @@include('./../tpl/aside/transport--links.html')
    </aside>

    <div class="content__main">
      @@include('./../tpl/title-block.html', { title: 'Оплата' })

      <section class="payment">
        <h3 class="payment__title">Оплатить заказ можно следующими способами:</h3>

        <ul class="payment__list">
          <li class="payment__list-item">
            <h4 class="payment__subtitle">Принимаем к оплате:</h4>
            <p class="payment__text">
              Для оплаты через Сбербанк-онлайн, Вам необходимо связаться с менеджерами компании и
              уточнить реквизиты счета, на который нужно перечислить необходимую сумму.
            </p>
          </li>
          <li class="payment__list-item">
            <h4 class="payment__subtitle">Оплата в офисе:</h4>
            <p class="payment__text">
              Для оплаты в офисе нашей компании, Вам необходимо оставить заявку на почте:
              info@absolute-trans.ru, указав подробности заказа или позвонить по телефону
              +7(812)305-90-30, получить расчет, затем подъехать с паспортом по адресу
              Санкт-Петербург, Коломяжский пр-т д.18, оф. 3-055
            </p>

            <div class="payment__worktime">
              <p class="payment__text">Часы работы офиса:</p>
              <p class="payment__text">Пн-Пт : с 9:00-20:00</p>
              <p class="payment__text">Сб-Вс : с 10:00-18:00</p>
            </div>
          </li>
          <li class="payment__list-item">
            <h4 class="payment__subtitle">Оплата для юридических лиц:</h4>
            <p class="payment__text">
              Для оплаты по безналичному расчету от юридического лица, необходимо оставить заявку в
              свободной форме на почте: info@absolute-trans.ru реквизитами компании, для оформления
              договора и выставления счета.
            </p>
          </li>
          <li class="payment__list-item">
            <h4 class="payment__subtitle payment__subtitle--color payment__yandex-wallet">
              Оплата онлайн через яндекс. кассу
            </h4>
            <p class="payment__text">
              заполните форму по ссылке и нажмите кнопку «Оплатить». Откроется страница сервиса
              Яндекс.Касса, где вы сможете выбрать удобный способ оплаты.
            </p>
          </li>
        </ul>

        <div class="payment__types">
          <h4 class="payment__subtitle payment__subtitle--types">Принимаем к оплате:</h4>

          <span class="icon--visa"> <span class="path1"></span><span class="path2"></span> </span>
          <span class="icon--mastercard">
            <span class="path1"></span><span class="path2"></span>
          </span>
          <span class="icon--sber"></span>
          <span class="icon--qiwi"></span>
          <span class="icon--yandex-wallet"></span>
        </div>

        <h4 class="payment__subtitle">Реквизиты компании:</h4>

        <div class="payment__requisites">
          <p class="payment__text payment__text--requisites">
            Общество с ограниченной ответственностью «Транспортная Компания Абсолют»
          </p>

          <p class="payment__text payment__text--requisites">
            ООО «ТК Абсолют»
          </p>
        </div>

        <div class="payment__requisetes">
          <p class="payment__text payment__text--requisites">
            Юридический адрес: 197348, Санкт-Петербург, Коломяжский пр-т, дом 18, офис 3-055
          </p>

          <p class="payment__text payment__text--requisites">
            ИНН 7814514287
          </p>
          <p class="payment__text payment__text--requisites">
            КПП 781401001
          </p>
          <p class="payment__text payment__text--requisites">
            ОГРН 1117847424397
          </p>
          <p class="payment__text payment__text--requisites">
            ОКАТО 40270564000
          </p>
          <p class="payment__text payment__text--requisites">
            ОКПО 30623460
          </p>
        </div>

        <div class="payment__requisites">
          <p class="payment__text payment__text--requisites">
            р/с 40702810520090002237
          </p>
          <p class="payment__text payment__text--requisites">
            в СЕВЕРО-ЗАПАДНЫЙ ФИЛИАЛ ЗАО «БАНК ИНТЕЗА»
          </p>
          <p class="payment__text payment__text--requisites">
            БИК 044030710
          </p>
          <p class="payment__text payment__text--requisites">
            корр/счет 30101810100000000710
          </p>
        </div>
      </section>
    </div>
  </div>

  <a class="content__scroll-top"></a>
</main>

@@include('./../tpl/modal.html') @@include('./../tpl/footer.html')
