@@include('./../tpl/header.html', { 'headerClass': '', 'bodyId': 'school-bus', 'activeCompany': '',
'activeServices': '', 'activeChildren': 'active', 'activePayment': '', 'activeContacts': '', })

<main class="content">
  <div class="messengers">
    <a href="/" class="icon--viber messengers__viber">
      <span class="path1"></span><span class="path2"></span><span class="path3"></span
      ><span class="path4"></span><span class="path5"></span><span class="path6"></span>
    </a>

    <a href="/" class="icon--whatsapp messengers__whatsapp">
      <span class="path1"></span><span class="path2"></span><span class="path3"></span
      ><span class="path4"></span><span class="path5"></span><span class="path6"></span>
    </a>
  </div>

  <div class="container container--flex">
    <aside class="aside">
      <div class="aside__list">
        <div class="aside__container">
          <a href="/pages/children.html" class="aside__item">перевозки детских групп</a>
          <a href="/" class="aside__item">почему мы</a>
          <a href="/" class="aside__item">памятка организациям</a>
          <a href="/pages/school.html" class="aside__item">школьные экскурсии</a>
          <a href="/pages/school-bus.html" class="aside__item active">школьные автобусы</a>
          <a href="/" class="aside__item">как подать уведомление</a>
          <a href="/" class="aside__item">Транспортное обеспечение массовых мероприятий</a>
        </div>
      </div>

      @@include('./../tpl/aside/transport--links.html')
    </aside>

    <div class="content__main">
      <section class="school-bus">
        @@include('./../tpl/title-block.html', { title: 'Школьные автобусы' })

        <p class="school-bus__text">
          У нас вы можете заказать автобусы для перевозки школьников по Санкт-Петербургу и области.
          Имеем свой парк автобусов и микроавтобусов от 17 до 53 мест. Соблюдаем все правила
          перевозки детей и имеем все необходимые документы.
        </p>
        <p class="school-bus__text">
          Любой наш транспорт имеет на борту необходимое оборудование для комфортной и безопасной
          поездки, как на малые, так и большие расстояния: систему кондиционеров, удобные кресла с
          ремнями безопасности, шторки на окнах и т.д. <br />
          Если вам требуется перевезти большое количество детей, вы можете взять в аренду
          одновременно несколько автобусов.
        </p>

        <div class="slider slider--buses owl-carousel">
          <div class="card">
            <div class="card__image">
              <span class="card__voice"></span>

              <img src="/images/index/car-3.png" alt="car-3" />
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">2000<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Man Regio 205</p>

              <div class="card__footer">
                <p class="card__year card__year--bus">2015г.</p>
                <p class="card__seats">59+1 мест</p>
                <p class="card__additional card__additional--buses">15 автобусов</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card__image">
              <span class="card__voice"></span>

              <img src="/images/index/car-3.png" alt="car-3" />
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">2000<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Man Regio 205</p>

              <div class="card__footer">
                <p class="card__year card__year--bus">2015г.</p>
                <p class="card__seats">59+1 мест</p>
                <p class="card__additional card__additional--buses">15 автобусов</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card__image">
              <span class="card__voice"></span>

              <img src="/images/index/car-3.png" alt="car-3" />
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">2000<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Man Regio 205</p>

              <div class="card__footer">
                <p class="card__year card__year--bus">2015г.</p>
                <p class="card__seats">59+1 мест</p>
                <p class="card__additional card__additional--buses">15 автобусов</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card__image">
              <span class="card__voice"></span>

              <img src="/images/index/car-3.png" alt="car-3" />
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">2000<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Man Regio 205</p>

              <div class="card__footer">
                <p class="card__year card__year--bus">2015г.</p>
                <p class="card__seats">59+1 мест</p>
                <p class="card__additional card__additional--buses">15 автобусов</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card__image">
              <span class="card__voice"></span>

              <img src="/images/index/car-3.png" alt="car-3" />
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">2000<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Man Regio 205</p>

              <div class="card__footer">
                <p class="card__year card__year--bus">2015г.</p>
                <p class="card__seats">59+1 мест</p>
                <p class="card__additional card__additional--buses">15 автобусов</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card__image">
              <span class="card__voice"></span>

              <img src="/images/index/car-3.png" alt="car-3" />
            </div>

            <div class="card__block">
              <div class="card__cost">
                <p class="card__time">1 час аренды</p>
                <p class="card__price">2000<span class="ruble-icon">&#8381;</span></p>
              </div>

              <button class="card__order card__order--car">Заказать</button>
            </div>

            <div class="card__info">
              <p class="card__title">Man Regio 205</p>

              <div class="card__footer">
                <p class="card__year card__year--bus">2015г.</p>
                <p class="card__seats">59+1 мест</p>
                <p class="card__additional card__additional--buses">15 автобусов</p>
              </div>
            </div>
          </div>
        </div>

        <div class="reasons">
          <h3 class="school-bus__title school-bus__title--reasons">
            Для чего заказывают автобусы для школьников?
          </h3>

          <p class="reasons__text">
            Мы можем создать все условия для безопасной доставки детей до любого места назначения и
            обратно: в черте города или за его пределами.
          </p>

          <div class="reasons__block">
            <div class="reasons__item">
              <span class="icon icon--museum"></span>
              <p class="reasons__text--item">экскурсии</p>
            </div>
            <div class="reasons__item">
              <span class="icon icon--forest"></span>
              <p class="reasons__text--item">выезды на природу</p>
            </div>
            <div class="reasons__item">
              <span class="icon icon--sport"></span>
              <p class="reasons__text--item">соревнования или концерты</p>
            </div>
            <div class="reasons__item">
              <span class="icon icon--schoolboy"></span>
              <p class="reasons__text--item">развозка детей в школу и обратно по домам</p>
            </div>
          </div>
        </div>

        <div class="slider slider--entertainments owl-carousel">
          <img src="/images/school-bus/school-bus-1.png" alt="school-bus-1" />
          <img src="/images/school-bus/school-bus-2.png" alt="school-bus-2" />
          <img src="/images/school-bus/school-bus-3.png" alt="school-bus-3" />
          <img src="/images/school-bus/school-bus-4.png" alt="school-bus-4" />

          <img src="/images/school-bus/school-bus-1.png" alt="school-bus-1" />
          <img src="/images/school-bus/school-bus-2.png" alt="school-bus-2" />
          <img src="/images/school-bus/school-bus-3.png" alt="school-bus-3" />
          <img src="/images/school-bus/school-bus-4.png" alt="school-bus-4" />
        </div>

        <h3 class="school-bus__title">
          Транспорт соответствует требованиям перевозки детей
        </h3>

        <p class="school-bus__text school-bus__text--footer">
          К автобусам для детей их водителям предъявляются определенные требования, установленные
          законодательством. Наши транспортные средства:
        </p>

        <ul class="school-bus__list">
          <li class="school-bus__list-item">имеют все необходимые документы;</li>
          <li class="school-bus__list-item">оснащены ремнями безопасности;</li>
          <li class="school-bus__list-item">подаются идеально чистыми;</li>
          <li class="school-bus__list-item">перед выездом на заказ проходят тех. осмотр.</li>
        </ul>

        <p class="school-bus__text school-bus__text--footer">
          Водители, занимающиеся перевозкой школьных групп:
        </p>

        <ul class="school-bus__list">
          <li class="school-bus__list-item">имеют опыт вождения автобуса не менее 3-х лет;</li>
          <li class="school-bus__list-item">
            соблюдают требования ПДД, как общих, так и дополнительных, касающихся запрета обгона и
            резких торможений, а также запрещающих остановку в каком-либо месте кроме специальных
            площадок;
          </li>
          <li class="school-bus__list-item">имеют чувство юмора и обладают терпением.</li>
        </ul>

        <p class="school-bus__text">
          Вы можете заказать автобус для перевозки школьных групп, просто позвонив по телефону +7
          (812) 996-56-96.
        </p>

        <p class="school-bus__text">
          Мы гарантируем абсолютную безопасность ваших детей!
        </p>
      </section>
    </div>
  </div>

  <a class="content__scroll-top"></a>
</main>

@@include('./../tpl/modal.html') @@include('./../tpl/footer.html')
