@@include('./../tpl/header.html', { 'headerClass': '', 'bodyId': 'services', 'activeCompany': '',
'activeServices': 'active', 'activeChildren': '', 'activePayment': '', 'activeContacts': '', })

<main class="content">
  <div class="messengers">
    <a href="/" class="icon--viber messengers__viber">
      <span class="path1"></span><span class="path2"></span><span class="path3"></span
      ><span class="path4"></span><span class="path5"></span><span class="path6"></span>
    </a>

    <a href="/" class="icon--whatsapp messengers__whatsapp">
      <span class="path1"></span><span class="path2"></span><span class="path3"></span
      ><span class="path4"></span><span class="path5"></span><span class="path6"></span>
    </a>
  </div>

  <div class="container container--flex">
    <aside class="aside">
      <div class="aside__list">
        <div class="aside__container">
          <a href="/pages/staff-transportation.html" class="aside__item">развозка сотрудников</a>
          <a href="/" class="aside__item">трансфер в аэропорт</a>
          <a href="/" class="aside__item">автобусы в финляндию</a>
          <a href="/" class="aside__item">автобусы в европу</a>
          <a href="/" class="aside__item">VIP такси</a>
          <a href="/" class="aside__item">Транспортное обеспечение массовых мероприятий</a>
        </div>
      </div>

      @@include('./../tpl/aside/transport--links.html')
    </aside>

    <div class="content__main">
      <section class="services">
        @@include('./../tpl/title-block.html', { title: 'Услуги' })

        <p class="services__text">
          ТК «Абсолют» — компания с пятнадцатилетним опытом работы в сфере перевозок. Кроме большой
          автомобильной и автобусной базы, на предприятии сформировалась команда из
          квалифицированных специалистов, которые ежедневно заботятся о комфорте клиентов. Текст о
          том, что компания предоставляет большой спектр транспортных услуг....
        </p>

        <div class="services__block">
          <div class="services__item">
            <div class="services__image">
              <img src="/images/services/services-1.png" alt="services-1" />
            </div>

            <img
              src="/images/services/services-2--hover.png"
              alt="services-2"
              class="services__image--hover"
            />

            <h3 class="services__title">РАЗВОЗКА СОТРУДНИКОВ</h3>

            <div class="services__text">
              Предлагаем заказать развозку сотрудников по СПб. Имеем свой парк из 23 комфортабельных
              автобусов для персонала. Вместимость транспорта — от 29 до 65 мест. <br />
              Стоимость от 600 руб в час
            </div>

            <div class="services__hover">
              <p class="services__title--hover">
                РАЗВОЗКА СОТРУДНИКОВ
              </p>

              <button class="services__details">подробнее</button>
            </div>
          </div>
          <div class="services__item">
            <div class="services__image">
              <img src="/images/services/services-2.png" alt="services-2" />
            </div>

            <img
              src="/images/services/services-2--hover.png"
              alt="services-2"
              class="services__image--hover"
            />

            <h3 class="services__title">Трансфер в аэропорт</h3>

            <div class="services__text">
              Наша компания является одним из крупнейших перевозчиков в СПб. Мы можем организовать
              быстрый и комфортный трансфер в аэропорт на выгодных условиях.
            </div>

            <div class="services__hover">
              <p class="services__title--hover">
                Трансфер в аэропорт
              </p>

              <button class="services__details">подробнее</button>
            </div>
          </div>
          <div class="services__item">
            <div class="services__image">
              <img src="/images/services/services-3.png" alt="services-3" />
            </div>

            <img
              src="/images/services/services-2--hover.png"
              alt="services-2"
              class="services__image--hover"
            />

            <h3 class="services__title">автобусы в финляндию</h3>

            <div class="services__text">
              Компания «Абсолют» занимается пассажирскими перевозками из Санкт-Петербурга в
              Финляндию. Мы поможем вам отправиться на отдых или экскурсию, в путешествие, за
              покупками или в деловую поездку.
            </div>

            <div class="services__hover">
              <p class="services__title--hover">
                автобусы в финляндию
              </p>

              <button class="services__details">подробнее</button>
            </div>
          </div>
          <div class="services__item">
            <div class="services__image">
              <img src="/images/services/services-1.png" alt="services-1" />
            </div>

            <img
              src="/images/services/services-2--hover.png"
              alt="services-2"
              class="services__image--hover"
            />

            <h3 class="services__title">РАЗВОЗКА СОТРУДНИКОВ</h3>

            <div class="services__text">
              Предлагаем заказать развозку сотрудников по СПб. Имеем свой парк из 23 комфортабельных
              автобусов для персонала. Вместимость транспорта — от 29 до 65 мест. Стоимость от 600
              руб в час
            </div>

            <div class="services__hover">
              <p class="services__title--hover">
                РАЗВОЗКА СОТРУДНИКОВ
              </p>

              <button class="services__details">подробнее</button>
            </div>
          </div>
          <div class="services__item">
            <div class="services__image">
              <img src="/images/services/services-2.png" alt="services-2" />
            </div>

            <img
              src="/images/services/services-2--hover.png"
              alt="services-2"
              class="services__image--hover"
            />

            <h3 class="services__title">Трансфер в аэропорт</h3>

            <div class="services__text">
              Наша компания является одним из крупнейших перевозчиков в СПб. Мы можем организовать
              быстрый и комфортный трансфер в аэропорт на выгодных условиях.
            </div>

            <div class="services__hover">
              <p class="services__title--hover">
                Трансфер в аэропорт
              </p>

              <button class="services__details">подробнее</button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <a class="content__scroll-top"></a>
</main>

@@include('./../tpl/modal.html') @@include('./../tpl/footer.html')
