<footer class="footer">
    <div class="container container--flex">
        <div class="footer__left">
            <div class="footer__columns">
                <div class="footer__column footer__column--left">
                    <a href="/" class="footer__link">автопарк</a>
                    <a href="/" class="footer__link">о компании </a>
                    <a href="/" class="footer__link">услуги</a>
                    <a href="/" class="footer__link">перевозки детских групп </a>
                    <a href="/" class="footer__link">оплата</a>
                    <a href="/" class="footer__link">акции</a>
                    <a href="/" class="footer__link">контакты</a>
                </div>

                <div class="footer__column footer__column--right">
                    <a href="/" class="footer__link">легковые</a>
                    <a href="/" class="footer__link">автобусы</a>
                    <a href="/" class="footer__link">микроавтобусы</a>
                    <a href="/" class="footer__link">минивэны</a>

                    <div class="footer__price-list">
                        <span class="icon icon--pdf"></span>
                        <p class="footer__text--price-list">прайс-лист</p>
                    </div>
                </div>
            </div>

            <div class="footer__social">
                <div class="footer__text--social">мы в соцсетях:</div>

                <a class="icon icon--facebook"></a>
                <a class="icon icon--instagram"></a>
                <a class="icon icon--vk"></a>
            </div>

            <div class="footer__ratings">
                <div class="rating">
                    <span class="icon--google footer__icon"></span>

                    <div class="rating__info">
                        <p class="rating__title">Google Рейтинг</p>

                        <div class="rating__stars">
                            <div class="rating__number">4,7</div>

                            <div class="rating__stars-block">
                                <div class="rating__star rating__star--full"></div>
                                <div class="rating__star rating__star--full"></div>
                                <div class="rating__star rating__star--full"></div>
                                <div class="rating__star rating__star--full"></div>
                                <div class="rating__star rating__star--half"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="rating">
                    <span class="icon--yandex footer__icon"></span>

                    <div class="rating__info">
                        <p class="rating__title">Яндекс Рейтинг</p>

                        <div class="rating__stars">
                            <div class="rating__number">4,3</div>

                            <div class="rating__stars-block">
                                <div class="rating__star rating__star--full"></div>
                                <div class="rating__star rating__star--full"></div>
                                <div class="rating__star rating__star--full"></div>
                                <div class="rating__star rating__star--full"></div>
                                <div class="rating__star rating__star--half"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer__bottom">
                <p class="footer__policy">Политика конфиденциальности</p>

                <p class="footer__copyright">&copy; 1998-2020 ООО «ТТК АБСОЛЮТ»</p>
            </div>
        </div>

        <div class="footer__right">
            <div class="footer__row--860">
                <a href="tel:8-800-550-96-85" class="footer__number">8 800 550-96-85 <span>звонок бесплатный</span></a>

                <div class="footer__contacts">
                    <a href="/" class="icon icon--viber-white">
                        <span class="path1"></span><span class="path2"></span><span
                            class="path3"></span
                    ><span class="path4"></span><span class="path5"></span>
                    </a>
                    <a href="/" class="icon icon--whatsapp-white">
                        <span class="path1"></span><span class="path2"></span><span
                            class="path3"></span
                    ><span class="path4"></span><span class="path5"></span>
                    </a>

                    <a href="tel:+7-921-996-56-96" class="footer__number">+7 921 996-56-96</a>
                </div>
            </div>

            <p class="footer__text">напишите нам</p>

            <p class="footer__mail">info@absolute-trans.ru</p>

            <p class="footer__text">наш адрес</p>

            <div class="footer__address">
                <p>197348, Санкт-Петербург,</p>
                <p>Коломяжский пр., д.18, лит. А, пом 55Н</p>
            </div>

            <p class="footer__requisites">ИНН 7814716646 ООО «ТТК АБСОЛЮТ»</p>

            <p class="footer__text footer__text--payment">мы принимаем:</p>

            <div class="footer__payment">
				<span class="icon icon--visa-white"
                ><span class="path1"></span><span class="path2"></span
                ></span>
                <span class="icon icon--mastercard-white">
					<span class="path1"></span><span class="path2"></span>
				</span>
                <span class="icon icon--sber"></span>
                <span class="icon icon--qiwi"></span>
                <span class="icon icon--yandex-wallet"></span>
            </div>

            <button class="footer__request">оставить заявку онлайн</button>
        </div>
    </div>
</footer>

<script src="/scripts/vendor.js"></script>
<script src="/scripts/main.js"></script>
</body>
</html>
