<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Абсолют-транс | Проект</title>
    <base href="~/" />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>

  <body id="@@bodyId">
    <header class="header @@headerClass">
      <div class="header__block header__block--top">
        <div class="container container--flex">
          <div class="header__block">
            <p class="header__mail">info@absolute-trans.ru</p>
            <p class="header__address">Санкт-Петербург, Коломяжский пр., д.18, лит. А, пом 55Н</p>
          </div>

          <div class="header__block header__block--absolut">
            <span class="header__viber">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span
              ><span class="path4"></span><span class="path5"></span><span class="path6"></span>
            </span>

            <span class="header__whatsapp">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span
              ><span class="path4"></span><span class="path5"></span>
            </span>

            <div class="header__block header__block--right">
              <a href="tel:+7-921-996-56-96" class="header__number--top">+7 921 996-56-96</a>

              <p class="header__callback">перезвоните мне</p>
            </div>
          </div>
        </div>
      </div>

      <div class="header__block header__block--middle">
        <div class="container container--flex">
          <a href="/" class="header__logo">
            <img src="/images/general/logo.png" alt="logo" />
          </a>

          <div class="header__block">
            <div class="header__worktime">
              <p>пн-пт с 9:00 до 20:00</p>
              <p>сб с 10:00 до 18:00</p>
            </div>

            <div class="header__number">
              <p>по россии бесплатно</p>
              <a href="tel:8-800-550-96-85" class="header__number header__number--big"
                >8 800 550 96 85</a
              >
            </div>
          </div>
        </div>
      </div>

      <nav class="nav">
        <div class="container container--flex">
          <div class="nav__menu-icon">
            <span></span>
            <span></span>
            <span></span>
          </div>

          <div class="nav__block">
            <a href="/" class="nav__link nav__link--hide-430">автопарк</a>
            <a href="/pages/company.html" class="nav__link @@activeCompany nav__link--hide-860"
              >о компании</a
            >
            <a href="/pages/services.html" class="nav__link @@activeServices">услуги</a>
            <a href="/pages/children.html" class="nav__link @@activeChildren"
              ><span class="nav__text--hide">перевозки детских групп</span>
              <span class="nav__text--show">детские перевозки</span></a
            >
            <a href="/pages/payment.html" class="nav__link @@activePayment nav__link--hide-1200"
              >оплата</a
            >
            <a href="/pages/contacts.html" class="nav__link @@activeContacts nav__link--hide-860"
              >контакты</a
            >
          </div>
        </div>
      </nav>

      <div class="menu">
        <div class="container">
          <div class="menu__columns">
            <div class="menu__column">
              <a href="/" class="menu__title">автопарк</a>

              <a href="/pages/car.html" class="menu__link">легковые</a>
              <a href="/pages/bus.html" class="menu__link">автобусы</a>
              <a href="/pages/bus.html" class="menu__link">микроавтобусы</a>
              <a href="/pages/bus.html" class="menu__link">минивэны</a>
            </div>

            <div class="menu__column">
              <a href="/pages/company.html" class="menu__title">о компании</a>

              <a href="/pages/reviews.html" class="menu__link">отзывы</a>
              <a href="/pages/news.html" class="menu__link">новости</a>
              <a href="/pages/customers.html" class="menu__link">наши клиенты</a>
              <a href="/pages/faq.html" class="menu__link">вопросы и ответы</a>
            </div>

            <div class="menu__column">
              <a href="/pages/services.html" class="menu__title">услуги</a>

              <a href="" class="menu__link">трансфер в аэропорт</a>
              <a href="/pages/staff-transportation.html" class="menu__link"
                >развозка сотрудников
              </a>
              <a href="" class="menu__link">автобусы в финляндию</a>
              <a href="" class="menu__link">автобусы в европу</a>
              <a href="" class="menu__link">VIP такси</a>
            </div>

            <div class="menu__column">
              <a href="/pages/children.html" class="menu__title">перевозки детских групп</a>

              <a href="/" class="menu__link">почему мы</a>
              <a href="/" class="menu__link">памятка организациям</a>
              <a href="/pages/school.html" class="menu__link">школьные экскурсии</a>
              <a href="/pages/school-bus.html" class="menu__link">школьные автобусы</a>
              <a href="/" class="menu__link">как подать уведомление</a>
            </div>
          </div>

          <div class="menu__footer">
            <div class="menu__title-block">
              <a href="/" class="menu__title menu__title--footer">акции</a>
              <a href="/pages/payment.html" class="menu__title menu__title--footer">оплата</a>
              <a href="/pages/contacts.html" class="menu__title menu__title--footer">контакты</a>
            </div>

            <div class="menu__social">
              <p class="menu__text menu__social-text">мы в соцсетях:</p>

              <a href="/" class="icon--facebook menu__icon"></a>
              <a href="/" class="icon--instagram menu__icon"></a>
              <a href="/" class="icon--vk menu__icon"></a>
            </div>
          </div>

          <div class="header__number">
            <p>по россии бесплатно</p>
            <a href="tel:+8-800-550-96-85" class="header__number header__number--big"
              >8 800 550 96 85</a
            >
          </div>

          <button class="menu__request">Заявка онлайн</button>
        </div>
      </div>
    </header>
