<div class="modal">
  <div class="modal__container">
    <div class="modal__close">
      <span></span>
      <span></span>
    </div>

    <form class="modal__form modal__form--callback">
      <h4 class="modal__title">мы вам перезвоним</h4>

      <label class="modal__label">
        <p class="modal__text modal__text--label">телефон*</p>

        <input
          type="text"
          class="modal__input"
          placeholder="+7 (__) __-__-__"
          data-required="true"
        />
      </label>

      <label class="modal__label">
        <p class="modal__text modal__text--label">Комментарий</p>

        <textarea class="modal__textarea"></textarea>
      </label>

      <p class="modal__text modal__text--notation">
        * Поля обязательны для заполнения
      </p>

      <label class="modal__label modal__label--checkbox">
        <input type="checkbox" class="modal__checkbox" checked />
        <span class="modal__checkmark"></span>

        <p class="modal__text modal__text--checkbox">
          Я даю согласие на обработку персональных данных и соглашаюсь
          <a href="/">с политикой конфиденциальности</a>
        </p>
      </label>

      <input type="submit" value="Отправить" class="modal__submit" />
    </form>

    <form class="modal__form modal__form--footer">
      <h4 class="modal__title">заявка онлайн</h4>

      <label class="modal__label">
        <p class="modal__text modal__text--label">Имя и фамилия*</p>

        <input type="text" class="modal__input" data-required="true" />
      </label>

      <label class="modal__label">
        <p class="modal__text modal__text--label">телефон*</p>

        <input
          type="text"
          class="modal__input"
          placeholder="+7 (__) __-__-__"
          data-required="true"
        />
      </label>

      <label class="modal__label">
        <p class="modal__text modal__text--label">сообщение</p>

        <textarea class="modal__textarea"></textarea>
      </label>

      <p class="modal__text modal__text--notation">
        * Поля обязательны для заполнения
      </p>

      <label class="modal__label modal__label--checkbox">
        <input type="checkbox" class="modal__checkbox" checked />
        <span class="modal__checkmark"></span>

        <p class="modal__text modal__text--checkbox">
          Я даю согласие на обработку персональных данных и соглашаюсь
          <a href="/">с политикой конфиденциальности</a>
        </p>
      </label>

      <input type="submit" value="Отправить" class="modal__submit" />
    </form>

    <form class="modal__form modal__form--voice">
      <h4 class="modal__title">Голосовой заказ</h4>

      <p class="modal__text modal__text--voice">Нажмите на иконку микрофона, чтобы начать запись</p>

      <div class="modal__voice"></div>

      <label class="modal__label">
        <p class="modal__text modal__text--label">Продиктуйте маршрут, дату аренды, время и количество пассажиров</p>

        <textarea class="modal__textarea"></textarea>
      </label>

      <label class="modal__label">
        <p class="modal__text modal__text--label">Введите свой номер телефона*</p>

        <input
          type="text"
          class="modal__input"
          placeholder="+7 (__) __-__-__"
          data-required="true"
        />
      </label>

      <input type="submit" value="Отправить" class="modal__submit" />
    </form>

    <form class="modal__form modal__form--order-car">
      <h4 class="modal__title">оформление заявки</h4>

      <label class="modal__label">
        <p class="modal__text modal__text--label">телефон*</p>

        <input
          type="text"
          class="modal__input"
          placeholder="+7 (__) __-__-__"
          data-required="true"
        />
      </label>

      <label class="modal__label">
        <p class="modal__text modal__text--label">Комментарий</p>

        <textarea class="modal__textarea"></textarea>
      </label>

      <p class="modal__text modal__text--notation">
        * Поля обязательны для заполнения
      </p>

      <label class="modal__label modal__label--checkbox">
        <input type="checkbox" class="modal__checkbox" checked />
        <span class="modal__checkmark"></span>

        <p class="modal__text modal__text--checkbox">
          Я даю согласие на обработку персональных данных и соглашаюсь
          <a href="/">с политикой конфиденциальности</a>
        </p>
      </label>

      <input type="submit" value="Отправить" class="modal__submit" />
    </form>

    <form class="modal__form modal__form--yandex-wallet">
      <h4 class="modal__title">Оплатить онлайн</h4>

      <label class="modal__label">
        <p class="modal__text modal__text--label">Имя и фамилия*</p>

        <input type="text" class="modal__input" data-required="true" />
      </label>

      <label class="modal__label">
        <p class="modal__text modal__text--label">Дата заказа*</p>

        <input type="text" class="modal__input" placeholder="ДД.ММ.ГГ" data-required="true" />
      </label>

      <label class="modal__label">
        <p class="modal__text modal__text--label">Сумма*</p>

        <input type="text" class="modal__input" data-required="true" />
      </label>

      <label class="modal__label">
        <p class="modal__text modal__text--label">телефон*</p>

        <input
          type="text"
          class="modal__input"
          placeholder="+7 (__) __-__-__"
          data-required="true"
        />
      </label>

      <label class="modal__label">
        <p class="modal__text modal__text--label">e-mail*</p>

        <input type="text" class="modal__input" data-required="true" />
      </label>

      <p class="modal__text modal__text--notation">
        * Поля обязательны для заполнения
      </p>

      <label class="modal__label modal__label--checkbox">
        <input type="checkbox" class="modal__checkbox" checked />
        <span class="modal__checkmark"></span>

        <p class="modal__text modal__text--checkbox">
          Я даю согласие на обработку персональных данных и соглашаюсь
          <a href="/">с политикой конфиденциальности</a>
        </p>
      </label>

      <input type="submit" value="Отправить" class="modal__submit" />
    </form>

    <form class="modal__form modal__form--tour">
      <h4 class="modal__title">оформление экскурсии</h4>

      <h5 class="modal__title--tour">«Правление Екатерины Великой»</h5>

      <label class="modal__label">
        <p class="modal__text modal__text--label">фио руководителя*</p>

        <input type="text" class="modal__input" data-required="true" />
      </label>

      <label class="modal__label">
        <p class="modal__text modal__text--label">Дата экскурсии*</p>

        <input type="text" class="modal__input" placeholder="ДД.ММ.ГГ" data-required="true" />
      </label>

      <label class="modal__label">
        <p class="modal__text modal__text--label">количество пассажиров*</p>

        <input type="text" class="modal__input" data-required="true" />
      </label>

      <label class="modal__label">
        <p class="modal__text modal__text--label">телефон*</p>

        <input
          type="text"
          class="modal__input"
          placeholder="+7 (__) __-__-__"
          data-required="true"
        />
      </label>

      <label class="modal__label">
        <p class="modal__text modal__text--label">Комментарии</p>

        <textarea class="modal__textarea"></textarea>
      </label>

      <p class="modal__text modal__text--notation">
        * Поля обязательны для заполнения
      </p>

      <label class="modal__label modal__label--checkbox">
        <input type="checkbox" class="modal__checkbox" checked />
        <span class="modal__checkmark"></span>

        <p class="modal__text modal__text--checkbox">
          Я даю согласие на обработку персональных данных и соглашаюсь
          <a href="/">с политикой конфиденциальности</a>
        </p>
      </label>

      <input type="submit" value="Отправить" class="modal__submit" />
    </form>

    <div class="modal__news news-item">
      <h4 class="news-item__title">Итоги 2019 года</h4>

      <p class="news-item__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed
        ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
        architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
        asperna.
      </p>

      <div class="news-item__images owl-carousel">
        <div class="news-item__image">
          <img src="https://via.placeholder.com/250x173" alt="news-item-image-1" />
        </div>
        <div class="news-item__image">
          <img src="https://via.placeholder.com/250x173" alt="news-item-image-2" />
        </div>
        <div class="news-item__image">
          <img src="https://via.placeholder.com/250x173" alt="news-item-image-3" />
        </div>
        <div class="news-item__image">
          <img src="https://via.placeholder.com/250x173" alt="news-item-image-4" />
        </div>
      </div>

      <p class="news-item__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed
        ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
        architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
        asperna. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
        quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
        sit asperna.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
        quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
        sit asperna.
      </p>

      <video src="" poster="https://via.placeholder.com/1061x402" class="news-item__video"></video>
    </div>

    <div class="modal__tour tour">
      <h4 class="tour__title">
        История возникновения Санкт-Петербурга, «Петровское» время северной столицы»
      </h4>

      <div class="tour__header">
        <span class="tour__hours">5 часов</span>
        <span class="tour__people">18- 40 чел.</span>
      </div>

      <div class="tour__main">
        <h5 class="tour__subtitle">Стоимость билетов</h5>

        <div class="tour__table-wrapper">
          <table class="tour__table">
            <tr>
              <td>Кол-о человек</td>
              <td>40 (+до 5 взрослых)</td>
              <td>28 (+2 сопровождающих)</td>
              <td>18 (+1 сопровождающий)</td>
            </tr>

            <tr>
              <td>Цена за школьника</td>
              <td>350 ₽</td>
              <td>420 ₽</td>
              <td>500 ₽</td>
            </tr>

            <tr>
              <td>Стоимость</td>
              <td>14000 ₽</td>
              <td>12600 ₽</td>
              <td>9000 ₽</td>
            </tr>
          </table>
        </div>

        <h5 class="tour__subtitle">Общая информация</h5>

        <p class="tour__text">
          Основное правило каждого петербуржца – это знание и уважение к родному городу! Знание
          которые дети получают в классе сидя за партой, порой пролетают мимо и растворяются среди
          обширных школьных программ. Лучшее средство заложить в ребёнка информацию — это дать ему
          возможность увидеть всё собственными глазами, подкреплённые обширными знаниями гида об
          истории Санкт-Петербурга, его памятников старины, архитектурное дыхание различных царских
          эпох сделает поездку увлекательной и познавательной для любого ребёнка, а добавив
          комфортабельный транспорт, поездка станет ещё и очень приятной!
        </p>

        <p class="tour__text">
          Наш автобус неспешно провезёт детей по основным достопримечательностям города, это и
          дворцовая и сенатская площади, стрелка Васильевского острова, Исаакиевская площадь,
          Невский проспект, навестим крейсер аврора и медный всадник Петру Великому на набережной
          Невы, Петропавловская крепость и многое другое!
        </p>

        <p class="tour__text">
          Продолжительность Экскурсии без посещения музеев от 3-х часов, время обговаривается
          индивидуально с каждым заказчиком, в случае заключения договора мы разработаем вам
          индивидуальный график экскурсий в желаемое для вас время и будем с каждой поездкой не
          повторяясь открывать для детей всё новые и новые горизонты знаний о нашем замечательном
          городе.
        </p>

        <h5 class="tour__subtitle">Достопримечательности и Маршрут</h5>

        <ul class="tour__list">
          <li class="tour__list-item">Дворцовая площадь</li>
          <li class="tour__list-item">Исаакиевская площадь</li>
          <li class="tour__list-item">Сенатская площадь</li>
          <li class="tour__list-item">Адмиралтейство</li>
          <li class="tour__list-item">
            Петропавловскую крепость и Петропавловский собор
          </li>
          <li class="tour__list-item">Марсово поле и Михайловский Замок</li>
          <li class="tour__list-item">
            Летний Сад и Спасо-Преображенский Собор
          </li>
          <li class="tour__list-item">Мраморный Дворец и Дворец Таврический</li>
          <li class="tour__list-item">Смольный институт</li>
          <li class="tour__list-item">
            Ростральные колонны и стрелка Васильевского острова
          </li>
        </ul>
      </div>

      <button class="tour__order">Оформить заявку</button>
    </div>
  </div>

  <div class="modal__thanks">
    <h4 class="modal__title modal__title--thanks">Спасибо за заказ!</h4>
    <p class="modal__text modal__text--thanks">
      Наши менеджеры свяжутся с вами в ближайшее время!
    </p>

    <button class="modal__close-button">закрыть</button>
  </div>
</div>
