<div class="transport-list transport-list--top">
  <div class="transport-list__item" data-tab="car">
    <span class="transport-list__icon transport-list__icon--car"></span>
    легковые
  </div>
  <div class="transport-list__item" data-tab="bus">
    <span class="transport-list__icon transport-list__icon--bus"></span>
    автобусы
  </div>

  <div class="transport-list__item" data-tab="minibus">
    <span class="transport-list__icon transport-list__icon--microbus"></span>
    микроавтобусы
  </div>

  <div class="transport-list__item" data-tab="minivan">
    <span class="transport-list__icon transport-list__icon--minivan"></span>
    минивэны
  </div>
</div>
