<div class="transport-list">
  <a href="/pages/car.html" class="transport-list__item">
    <span class="transport-list__icon transport-list__icon--car"></span>
    легковые
  </a>
  <a href="/pages/bus.html" class="transport-list__item">
    <span class="transport-list__icon transport-list__icon--bus"></span>
    автобусы
  </a>

  <a href="/pages/bus.html" class="transport-list__item">
    <span class="transport-list__icon transport-list__icon--microbus"></span>
    микроавтобусы
  </a>

  <a href="/pages/bus.html" class="transport-list__item">
    <span class="transport-list__icon transport-list__icon--minivan"></span>
    минивэны
  </a>
</div>
